<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      Note App is a good helper to manage your daily schedules and notes.<br/> 
      It gives you a quick and simple notepad editing experience when you write <br/>notes, memo, shopping list and to do list. <br/> 
      Note App makes to take a note easier than any other notepad and memo apps..
    </p>
  </div>
</section>
