
<div class="container">
  <div class="text-center">
  <div class="jumbotron mt-4">
  <h1 class="display-4 text-uppercase">Notes App</h1>
  <p class="lead">A simple App to manage Notes. <br/>Create - Read - Update and Delete <br/>
    your notes with simplicity<br/></p>
  <hr class="my-4">
  <p><span>Developed with Nodejs, Express, Mongodb <br/>and Javascript Technologies</span>
  </p>
  <a class="btn btn-primary btn-xl js-scroll-trigger text-uppercase" href="/users/signup" role="button">Start</a>
</div>
</div>
</div>
